{% extends 'software/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-5" style="border-radius: 50px; padding: 10px;">ALTA SOFTWARE</h3>

<div class="card">
  <div class="card-content">
    <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <br>
      <input class="button is-success" type="submit" class="button is-success" name="create" value="Agregar informacion">
    </form>
  </div>

</div>
<a href="/software/" class="button is-info">regresar</a>
{% endblock %}